.main-layout-header {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #dbdbdb;
    &-logo {
        &__image {
            width: 32px;
            height: 32px;
        }
    }
    &-navigation {
        margin-top: -3px;
        margin-left: 35px;
    }
    &-user {
        display: flex;
        align-items: center;
        margin-left: auto;
        &__create-post-button {
            margin-right: 20px;
        }
    }
}
