.main-layout-header {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #dbdbdb;
    &-logo {
        &__image {
            width: 32px;
            height: 32px;
        }
    }
    &-navigation {
        margin-top: -3px;
        margin-left: 35px;
    }
    &-user {
        margin-left: auto;
        &__link {
            &-icon {
                font-size: 12px;
                margin-left: 3px;
            }
        }
    }
}
