@import '../../bootstrap';

@import 'header';
@import 'footer';

// Sticky footer
#app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    main {
        flex: 1;
        background-color: #fafafa;
    }
}


