@import '../../bootstrap';

@import 'header';
@import 'footer';

@import 'pages/auth';

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;

    overflow: auto;

    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

// Sticky footer
#mainLayoutVueApp {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    main {
        flex: 1;
        background-color: #fafafa;
    }
}


