@import './layouts/main/index';
@import './pages/auth';

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;

    overflow: auto;

    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
