.auth-page {
    padding: 25px 0;
    .panel {
        margin: 0 auto;
        width: 50%;
        .panel-heading {
            background-image: linear-gradient(to right, #8800ff, #7031ff, #5646ff, #3853ff, #005eff);
            color: #ffffff;
        }
        .panel-block {
            display: block;
        }
        .auth-form {
            width: 100%;
            .field {
                margin-bottom: .75rem;
            }
            .confirm-field {
                align-items: center;
            }
        }
    }
}
