.ui-navbar {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
        font-size: 16px;
        line-height: 21px;
        a {
            @extend .ui-link;
        }
    }
}
